<ion-header>
  <ion-toolbar color="success">
    <ion-title>
        <ion-icon name="pulse"></ion-icon>
      Services
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card>
    <ion-card-header>
      <ion-card-title align=center>REGISTRATION</ion-card-title>
      <hr color="success">
      <ion-card-subtitle align=center>LABORATORY</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <!-- <ion-grid>
        <ion-row>
          <ion-col>
            <h2>Token</h2>
          </ion-col>
          <ion-col>
            <h1>1550</h1>
            </ion-col>
        </ion-row>
      </ion-grid> -->
      <h2  align=center>Token</h2>
      <h1  align=center>1550</h1>
    </ion-card-content>
  </ion-card>
</ion-content>
